BODY { font-family: sans-serif }

P.item { margin-left: 15px; }

P.item > SELECT { margin-left: 5px; }

INPUT.rows { margin-left: 5px; width: 35px; }
INPUT.option { margin-right: 5px; }

IMG.block {
  width: 120px;
  height: 120px;
  margin: 0 5px 5px 0;
}

IMG.rotate-lines-l {}
IMG.rotate-lines-r {transform: rotate(90deg);}

IMG.rotate-waves-tl {}
IMG.rotate-waves-br { transform: rotate(180deg); }
IMG.rotate-waves-tr { transform: scaleX(-1); }
IMG.rotate-waves-bl { transform: scaleX(-1) rotate(180deg); }



OL.row {
  padding: 0px;
  margin: 0px;
  height: 125px;
}

BUTTON {
  margin: 2px 2px 4px 2px;
}